<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://previews.123rf.com/images/dvarg/dvarg1603/dvarg160300020/52984920-illustration-of-a-friendly-cute-bee-flying-and-smiling.jpg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if teacher_signed_in? %>
      <div class="my-navbar-container">
        Logged in as <%= current_teacher.first_name.capitalize || current_teacher.name%>

          <%= image_tag "https://avatars1.githubusercontent.com/u/27827146?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "My courses", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_teacher_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_teacher_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

