<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://previews.123rf.com/images/dvarg/dvarg1603/dvarg160300020/52984920-illustration-of-a-friendly-cute-bee-flying-and-smiling.jpg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if teacher_signed_in? %>
      <div class="my-navbar-container">
        Hello <%= current_teacher.first_name.capitalize || current_teacher.name%>

          <%= image_tag current_teacher.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user-circle-o"></i>
            My Account
            <b class="caret"></b>
          </a>
      <ul class="dropdown-menu">
       <li>
         <%= link_to current_teacher do %>
              <p>Profile</p>
            <% end %>
          </li>
            <li>
              <a href="#">
                <i class="fa fa-gears"></i>
                Settings
           </a>
        </li>
      </ul>

      <li>
          <%= link_to destroy_teacher_session_url, method: :delete do %>
            <i class="fa fa-power-off"></i>
            Log out
          <% end %>
      </li>
      </ul>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_teacher_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>



