<h2><%= @teacher.first_name %> <%= @teacher.last_name %></h2>

<p>teaches <%= @teacher.language %></p>

<% if current_teacher.admin? %>
<%= link_to "Back to list of teachers", teachers_path %>
<%= link_to "Edit the information", edit_teacher_path(@teacher) %>
<%= link_to "Delete this teacher", teacher_path(@teacher), method: :delete %>
<% end %>
