
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.date_field :start_date %>
      <%= f.date_field :end_date %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :level, collection: Level.all %>
      <%= f.input :teacher, collection: Teacher.all %>
    </div>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-fill' %>
<% end %>

