<p id="notice"><%= notice %></p>

<h1>Courses</h1>


<div class="col-xs-12 col md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">
        <i class="pe-7s-ribbon"></i>
<% if current_teacher.admin? %>
        Listing Courses
      </h4>
      <hr/>
      <%= link_to new_course_path, class: 'btn btn-primary btn-fill' do %>
        <i class="fa fa-plus-square"></i>
        New Course
      <% end %>
      <br/>
      <br/>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td>
                <%= course.name %>
              </td>
              <td>
                <%= course.description %>
              </td>
              <td>
                <%= course.level.name %>
              </td>
              <td>
                <%= link_to course, class: 'btn btn-info btn-sm' do %>
                  <i class="fa fa-eye"></i>
                  Show
                <% end %>
                <%= link_to edit_course_path(course), class: 'btn btn-primary btn-sm' do %>
                  <i class="fa fa-edit"></i>
                  Edit
                <% end %>
                <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                  <i class="fa fa-trash"></i>
                  Delete
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>
<% elsif %>
<% teacher_signed_in? %>
<div class="col-xs-12 col md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">
        <i class="pe-7s-ribbon"></i>
        Listing your courses
      </h4>
      <hr/>
      <br/>
      <br/>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% current_teacher.courses.each do |course| %>
            <tr>
              <td>
                <%= course.name %>
              </td>
              <td>
                <%= course.description %>
              </td>
              <td>
                <%= course.level.name %>
              </td>
              <td>
                <%= link_to course, class: 'btn btn-info btn-sm' do %>
                  <i class="fa fa-eye"></i>
                  Show
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>
<% elsif %>
<% student_signed_in? %>
<div class="col-xs-12 col md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">
        <i class="pe-7s-ribbon"></i>
        Seu
      </h4>
      <hr/>
      <br/>
      <br/>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if current_student.course != nil %>
            <tr>
              <td>
                <%= current_student.course.name %>
              </td>
              <td>
                <%= current_student.course.description %>
              </td>
              <td>
                <%= current_student.course.level.name %>
              </td>
              <td>
                <%= link_to current_student.course, class: 'btn btn-info btn-sm' do %>
                  <i class="fa fa-eye"></i>
                  Show
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>
<% elsif %>
<% parent_signed_in? %>
<div class="col-xs-12 col md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">
        <i class="pe-7s-ribbon"></i>
        Seu curso(s)
      </h4>
      <hr/>
      <br/>
      <br/>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nome do aluno</th>
            <th>Name</th>
            <th>Description</th>
            <th>Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
           <% current_parent.students.each do |student| %>
            <tr>
              <td>
                <%= student.name %>
              </td>
              <td>
                <%= student.course.name %>
              </td>
              <td>
                <%= student.course.description %>
              </td>
              <td>
                <%= student.course.level.name %>
              </td>
              <td>
                <%= link_to student.course, class: 'btn btn-info btn-sm' do %>
                  <i class="fa fa-eye"></i>
                  Show
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>
<% else %>
<p>Private page</p>
<% end %>

