<%= simple_form_for(@parent) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <!-- insert div for photo upload -->
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password, wrapper_html: { id: 'password' }%>
      <%= f.input :address %>

    </div>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-fill' %>
<% end %>

